<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The black list</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Black list</a>
            <a class="btn btn-primary" href="/reporte">Query</a>
        </div>
    </nav>

    <!-- Header -->
    <header class="bg-dark text-center py-5 mb-4">
        <div class="container">
            <h1 class="font-weight-light text-white">Reportes</h1>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Team Member 1 -->
            <div class="col-md-6 mb-2">
                <div class="card border-0 shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Total</h5>
                        <div class="card-text text-black-50">Total de comprobantes (CFDI) ingresados y monto total</div>
                    </div>
                    {{t1}}

                </div>
            </div>
            <!-- Team Member 2 -->
            <div class=" col-md-6 mb-2">
                <div class="card border-0 shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Proveedores en lista negra</h5>
                        <div class="card-text text-black-50">Total de proveedores en lista negra por razón de ingreso y monto de sus facturas.</div>
                    </div>
                    {{t2}}

                </div>
            </div>
        </div>
        <div class="row">
            <!-- Team Member 3 -->
            <div class="col-md-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Tabla detallada</h5>
                        <div class="card-text text-black-50">Detalle por proveedor en lista negra.</div>
                    </div>
                    {{t3}}
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Data Analytics Bootcamp 2019. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>